body {
    background: #00266d;
    background-image: url(https://i.pinimg.com/originals/30/2b/59/302b59307f58b9e4d6a0b3b9324e8603.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 350px;
    border-radius: 5px;
}

.info h5{
    margin: 0;
    padding-top: 15px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.685);
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.info span{
    font-size: 15px;
    color: red;
    font-weight: bold;
}